body {
    direction: rtl;
    display: grid;
    grid-template-columns: 10% 90%;
    font-family: "Varela Round", sans-serif;
    margin: 0%;
    background-color: rgb(239, 237, 237);

    font-family: 'Calibri', sans-serif;
    margin: 0;
}

.oswald-uniquifier {
    font-family: "Varela Round", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#backLink {
    text-decoration: none;
}

.backToShop {
    width: 41.95px;
    height: 41.95px;
    background-color: rgb(228, 177, 240);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 15%; */
    position: fixed;
    top: 30px;
    right: 30px;
}

.payPage {
    /* background-color: blanchedalmond; */
    height: 90vh;
    padding: 5%;

}

#customerInfo {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    margin: 10px;
}

.product {
    display: grid;
    grid-template-columns: 5% 45% 10% 35%;
    justify-content: flex-end;
    color: rgb(152, 151, 151);
    margin-top: 5%;
    font-size: 14px;
}

.qChange {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px rgb(50, 50, 50) solid;
    color: #9434b6;;
    cursor: pointer;
}

.bothButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr {
    border: 0.1px rgb(225, 222, 222) solid;
    width: 95%;
}

#submit {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 0px white;

    background-color: rgb(228, 177, 240);
    color: white;

    margin-top: 5%;
    margin-bottom: 5%;
}

#submit:hover {
    background-color: rgb(126, 96, 191);
}