.txtMessage {
    height: 50PX;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 225, 255);
    color: rgb(126, 96, 191);
}

.writingTool {
    height: 80px;
    font-size: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.div_imgTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgTop {
    width: 90%;
    height: 200px;
    background-repeat: no-repeat;
}

.allCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.card {
    margin: 10%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.titleCard {
    text-align: center;
}

.div_imgCard {
    width: 70%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgCard {
    width: 100%;
}

.buttomCard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftButtomCard,
.rightButtomCard {
    width: 30%;
}

.navPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.w-60 {
    width: 60%;
}

.navigate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colors {
    width: 50%;
}

.campusNotebooks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-2 {
    margin-top: 2%;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topFooter {
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 225, 255);
}

.buttomFooter {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: gainsboro;
    padding: 0 2% 0 2%;
}

body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
}

.oswald-uniquifier {
    font-family: "Varela Round", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* big page */
@media screen and (min-width: 768px) {

    .body {
        height: 100vh;
        direction: rtl;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    #sidebarContent {
        height: 70vh;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 16px;
        position: fixed;
    }

    .selector {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 601px) {
    .grid {
        grid-template-columns: repeat(1, auto);
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 90%;
}

.link:hover {
    background-color: rgb(255, 225, 255)
}

#sidebar {
    background-color: rgb(228, 177, 240)
}

hr {
    width: 80%;
    border: black 1px solid;
    color: blueviolet;
    margin-top: 0px;
}

/* small page */
@media screen and (max-width: 768px) {
    .body {
        height: 100vh;
        direction: rtl;
        display: grid;
        grid-template-rows: 10% 80%;
    }

    #sidebarContent {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 16px;
    }

    .selector {
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    hr {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30%;
        height: 100%;
        align-items: center;
    }

    .link {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 0% 3%;
        /* height: 90%; */
    }

    .typesLinks {
        display: none;
    }
}